html {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  max-width: 80vmin;
}

@font-face {
  font-family: lobster;
  src: url("font/Lobster-Regular.ttf");
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: lobster;
  font-size: 3rem;
}

.podnadpisem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}

.hraje {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  padding-left: 20px;
}

p {
  display: flex;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.5rem;
  margin: auto;
}

.kolecko {}

.homearestart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
  padding-right: 20px;
}

.home {
  border: 2px solid #1fcca4;
  background-color: #1fcca4;
  border-radius: 3px;
  padding: 5px;
}

.home:hover {
 background-color: #1cbb96;
}

.restart {
  border: 2px solid #0197f6;
  background-color: #0197f6;
  border-radius: 3px;
  padding: 5px;
}

.restart:hover {
background-color: #0090e9;
}

table {
  display: table;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-collapse: collapse;
}

tr {
  display: flex;
  display: table-row;
}

td {
  /* display: flex; */
  display: table-cell;
  border: 2px solid black;
  padding: 0;
}

.cell{
  border: none;
  background-color: #e2bdee;
  padding: 1rem;
}

.cell:hover{
  background-color: #f6daff;
}
